
   
.Heading{
    color: blue;
    text-align: center;
    margin-top:1%
    
    
}


body{
background-color: aqua;  

}

.child{
    position: absolute;
    background-color: #f9f6ee;
    width: 950px;
    top: 10%;
    left: 15%;
    height: 80%;    
}

.IMAGES{ 
   display: flex;  
    margin: 50px;
    margin-top: 20px;
    margin-left: 50px;
    gap: 75px; 
}


h3 {text-align: center;
     color: #c4b1b1
}

.Packages{ color: blue;
    font-weight: bold;
    font-size: x-small;
}

p{color: blue;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;


}

